<header class="main-navbar">

  <nav class="nav-left">
    <a href="/">Home</a>
    <a href="/tournaments">Tournaments</a>

    <% if (user && user.is_admin) { %>
      <a href="/admin">Admin</a>
    <% } %>
  </nav>

  <div class="logo">Court<span>X</span></div>

 <nav class="nav-right">

  <a href="/standings">Standings</a>
  <a href="/news">News</a>

  <% if (user && !user.is_admin) { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout" class="signin">Logout</a>
  <% } else if (user && user.is_admin) { %>
    <a href="/logout" class="signin">Logout</a>
  <% } else { %>
    <a href="/login" class="signin">Sign In</a>
  <% } %>

</nav>

</header>